@media (max-width: 1200px) {
  #hero img {
    width: 300px;
  }
}

@media (max-width: 1023px) {
  .iframe {
    width: 590px;
    height: 380px;
  }

  .iframe iframe {
    width: 530px;
    height: 300px;
  }
  .info-contacto {
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    height: 385px;
  }
}

@media (max-width: 965px) {
  .hero-info h1 {
    font-size: 55px;
  }
  .hero-info h2 {
    font-size: 45px;
  }
  .hero-info p {
    font-size: 15px;
  }

  .link a {
    font-size: 15px;
  }

  #hero img {
    width: 250px;
  }
}

@media (max-width: 900px) {
  .navbar {
    gap: 20px;
  }
  .navbar-list {
    position: absolute;
    top: 100px;
    left: 15%;
    right: 15%;
    width: 70%;
    flex-direction: column;
    background-color: #090909;
    border: 2px solid #ffffff;
    border-top: 0px;
    border-radius: 0px 0px 15px 15px;
    align-items: center;
    padding: 25px 30px;
    gap: 25px;
    z-index: 2;
    display: none;
  }
  .menu-label {
    display: flex;
    order: 2;
    cursor: pointer;
  }

  #menu-toggle:checked + .navbar-list {
    display: flex;
  }
}

@media (max-width: 800px) {
  #hero {
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
  .hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    gap: 20px;
  }
  .hero-info h1 {
    font-size: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero-info h2 {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero-info p {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .link a {
    font-size: 20px;
  }
}
@media (max-width: 700px) {
  .footer-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

@media (max-width: 645px) {
  .form-contacto {
    width: 380px;
    height: 385px;
  }

  .info-contacto {
    width: 380px;
    height: 220px;
  }

  .iframe {
    width: 380px;
    height: 330px;
  }

  .iframe iframe {
    width: 350px;
    height: 250px;
  }
}

@media (max-width: 600px) {
  .beneficios-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
    padding: 10px 0px;
  }
  .beneficios-card-izq {
    gap: 10px;
  }
  .beneficios-card p {
    padding: 0px 10px;
  }
  .productos-card {
    flex-direction: row;
    width: 400px;
  }
  .precio-compra {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 500px) {
  .hero-info h1 {
    font-size: 48px;
  }
  .hero-info h2 {
    font-size: 35px;
  }
  .hero-info p {
    font-size: 14px;
  }

  .link a {
    font-size: 14px;
  }

  #hero img {
    width: 250px;
  }

  .contenedor-izq p {
    font-size: 14px;
  }

  .contenedor-izq img {
    width: 40px;
  }

  .contenedor-der a {
    font-size: 14px;
  }
}

@media (max-width: 430px) {
  .form-contacto {
    width: 280px;
    height: 385px;
  }

  .info-contacto {
    width: 280px;
    height: 285px;
  }

  .iframe {
    width: 280px;
    height: 330px;
  }

  .iframe iframe {
    width: 250px;
    height: 250px;
  }
  .productos-card {
    flex-direction: column;
    width: 250px;
  }
  .precio-compra {
    flex-direction: row;
    gap: 5px;
    padding: 5px;
  }
}

@media (max-width: 400px) {
  header a img {
    width: 60px;
  }
  .carrito {
    left: 0;
    width: 100%;
    align-items: center;
  }

  .carrito-contenedor {
    width: 280px;
    margin: 0px;
  }
  .carrito-contenedor img {
    height: 50px;
    width: 50px;
  }

  .division {
    width: 250px;
  }
  .carrito-total {
    display: flex;
    width: 280px;
  }
  .carrito-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
  }

  .hero-info h1 {
    font-size: 40px;
  }
  .hero-info h2 {
    font-size: 25px;
  }
  .hero-info p {
    font-size: 12px;
  }

  .link a {
    font-size: 12px;
  }

  .contenedor-izq p {
    font-size: 13px;
  }

  .contenedor-izq img {
    width: 35px;
  }

  #hero img {
    width: 200px;
    border-radius: 150px;
  }
}
