@media (max-width: 1200px) {
  .hero-img {
    width: 350px;
  }
  .hero-info-titulo {
    font-size: 60px;
  }
  .hero-info-subtitulo {
    font-size: 50px;
  }
  .hero-info-parrafo {
    font-size: 18px;
    text-align: center;
  }
}

@media (max-width: 1110px) {
  .hero-img {
    width: 320px;
  }
  .hero-info-titulo {
    font-size: 55px;
  }
  .hero-info-subtitulo {
    font-size: 45px;
  }
  .hero-info-parrafo {
    font-size: 16px;
  }
  .lista {
    gap: 5px;
  }
}

@media (max-width: 1020px) {
  .hero {
    flex-direction: column;
    gap: 10px;
  }
  .hero-img {
    width: 400px;
  }
  .hero-info-titulo {
    font-size: 65px;
  }
  .hero-info-subtitulo {
    font-size: 55px;
  }
  .hero-info-parrafo {
    font-size: 20px;
  }

  .lista {
    font-size: 18px;
  }
}
@media (max-width: 990px) {
  .contacto-contenedor-info {
    order: 3;
  }
}
@media (max-width: 970px) {
  .lista {
    font-size: 20px;
  }
  .navbar-list {
    display: flex;
    justify-content: flex-end;
  }
  .navbar-list-link {
    position: absolute;
    top: 100px;
    left: 15%;
    right: 15%;
    width: 70%;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #090909;
    border: 2px solid #ffffff;
    border-top: 0px;
    border-radius: 0px 0px 15px 15px;
    align-items: center;
    padding: 25px 30px;
    gap: 25px;
    z-index: 2;
    display: none;
    text-align: center;
    justify-content: center;
  }

  .separador {
    display: none;
  }
  .menu-label {
    display: flex;
    order: 2;
    cursor: pointer;
  }

  /* Mostramos el icono del menu */
  .usuario-label {
    display: flex;
    order: 2;
    cursor: pointer;
  }

  /* SOY RODRI DEL PASADO MARCANDO EL OPEN-MENU */

  .abrir-menu {
    display: flex;
  }
}
@media (max-width: 780px) {
  .footer-contenedor {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .info-img {
    width: 30px;
  }
}

@media (max-width: 710px) {
  .navbar-list-link,
  .lista {
    flex-direction: column;
    gap: 10px;
  }
  .navbar-list-link {
    padding: 10px 30px;
  }
  /* MODIFICACION DE PAGINA CAR  */
}

@media (max-width: 675px) {
  .contacto-contenedor-formulario {
    width: 480px;
  }

  .contacto-contenedor-iframe {
    width: 480px;
  }

  .iframe {
    width: 440px;
  }

  .contacto-contenedor-info {
    width: 480px;
  }

  .info-datos {
    flex-direction: row;
    width: 440px;
  }
}

@media (max-width: 665px) {
  .hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
  }
  .hero-img {
    width: 320px;
  }
  .hero-info-titulo {
    font-size: 55px;
    width: 95%;
  }
  .hero-info-subtitulo {
    font-size: 45px;
    width: 95%;
  }
  .hero-info-parrafo {
    font-size: 16px;
    text-align: center;
    width: 95%;
  }
}

@media (max-width: 620px) {
  .contacto-contenedor-formulario {
    width: 430px;
  }

  .contacto-contenedor-iframe {
    width: 430px;
  }

  .iframe {
    width: 400px;
  }

  .contacto-contenedor-info {
    width: 430px;
  }

  .info-datos {
    flex-direction: column;
    width: 400px;
  }

  /* SECCION PRODUCTOS  (CARTAS)*/

  .productos-contenedor-tarjeta {
    width: 430px;
  }

  .tarjeta-info {
    width: 380px;
  }
}
@media (max-width: 560px) {
  /* SECCION PRODUCTOS  (CARTAS)*/

  .productos-contenedor-tarjeta {
    width: 380px;
  }

  .tarjeta-info {
    width: 330px;
  }

  /* ............................. */
  .contacto-contenedor-formulario {
    width: 380px;
  }

  .contacto-contenedor-iframe {
    width: 380px;
  }

  .iframe {
    width: 340px;
  }

  .contacto-contenedor-info {
    width: 380px;
  }

  .info-datos {
    flex-direction: column;
    width: 340px;
  }
  .formulario-titulo {
    font-size: 19px;
    font-weight: 500;
  }
  .formulario-info-cajon {
    font-size: 13px;
    font-weight: 300;
    padding: 5px;
  }

  .logo {
    width: 60px;
  }

  header {
    height: 80px;
  }

  .hero {
    margin-top: 80px;
  }
  .navbar-list-link {
    top: 80px;
  }
  .overlay {
    top: 78px;
  }

  .lista {
    width: auto;
    font-size: 15px;
  }
  .hero,
  .benecicios,
  .productos,
  .contacto {
    padding-bottom: 20px;
  }

  .hero-img {
    width: 250px;
  }
  .hero-info-titulo {
    font-size: 45px;
  }
  .hero-info-subtitulo {
    font-size: 35px;
  }
  .hero-info-parrafo {
    font-size: 14px;
    text-align: justify;
  }

  .beneficios-contenedor-card {
    flex-direction: column;
    justify-content: center;
    width: 95%;
    height: auto;
    gap: 5px;
  }
  .card-parrafo {
    width: 95%;
    font-size: 16px;
  }

  .beneficios-titulo,
  .productos-titulos,
  .contacto-titulo {
    font-size: 30px;
  }

  /* PAGINA INICIAR SESION,
  REGISTRARSE */

  .cuestionario {
    width: 250px;
    gap: 10px;
    margin-top: 100px;
    margin-bottom: 10px;
  }
  .cuestionario-titulo {
    font-size: 25px;
  }

  .cuestionario-cajon {
    font-size: 14px;
    width: 160px;
    border-radius: 10px;
  }

  .cuestionario-enviar {
    border-radius: 10px;
  }

  /* CARRITO */

  .carrito {
    top: 80px;
  }
  .overlay {
    top: 80px;
  }

  .carrito h2 {
    font-size: 15px;
  }

  .carrito-item {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .carrito-item img {
    border-radius: 10px;
  }

  .item-titulo {
    font-size: 14px;
  }

  .item-precio {
    font-size: 14px;
  }

  .carrito-total span {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .contacto-contenedor-formulario {
    width: 270px;
  }

  .contacto-contenedor-iframe {
    width: 270px;
  }

  .iframe {
    width: 240px;
  }

  .contacto-contenedor-info {
    width: 270px;
  }

  .info-datos {
    flex-direction: column;
    width: 250px;
  }

  /* SECCION PRODUCTOS  (CARTAS)*/

  .productos-contenedor-tarjeta {
    width: 330px;
  }

  .tarjeta-info {
    width: 280px;
  }
  .lista2 {
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 460px) {
  .footer-contenedor-info {
    gap: 5px;
  }
  .info-titulo {
    font-size: 12px;
  }
  .info-img {
    width: 25px;
  }
  .link {
    font-size: 12px;
  }
  /* SECCION PRODUCTOS  (CARTAS)*/

  .productos-contenedor-tarjeta {
    width: 250px;
  }

  .tarjeta-info {
    width: 230px;
  }
  .botones {
    flex-direction: column;
    gap: 10px;
  }
  .boton-comprar,
  .boton-borrar {
    width: 100%;
  }
}
@media (max-width: 440px) {
  .hero-img {
    width: 180px;
  }
  .hero-info-titulo {
    font-size: 30px;
  }
  .hero-info-subtitulo {
    font-size: 25px;
    width: 95%;
  }
  .hero-info-parrafo {
    font-size: 13px;
  }
  .categorias {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .categorias-divisor {
    display: flex;
    gap: 10px;
  }
}

@media (max-width: 410px) {
  .lista2 {
    flex-direction: column;
  }

  .carrito {
    width: 290px;
    min-width: 250px;
  }
}
