* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0b353e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23171718' fill-opacity='0.21'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0px;
  width: 100%;
  max-width: 1300px;
  z-index: 9999999999;
  background: #090909;
  border-radius: 10px;
  border-bottom: 2px solid #ffffff;
}

/* BARRA NAVEGADORA */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.navbar__img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  text-decoration: none;
  list-style-type: none;
  width: 75px;
  border-radius: 15px;
}
.navbar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  gap: 20px;
}

.navbar__list__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  list-style-type: none;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
}

.lista {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style-type: none;
  font-size: 20px;
  font-weight: 500;
}
.lista__link {
  text-decoration: none;
  padding: 4px 15px;
  border-radius: 10px;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23171718' fill-opacity='0.21'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.separador {
  border: 1px solid #ffffff;
  width: 1px;
  height: 20px;
}

.navbar__list__car {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icono {
  text-decoration: none;
  list-style-type: none;
  width: 50px;
  border-radius: 10px;
  display: flex;
}

#menu__toggle,
.menu__label {
  display: none;
}
#menu__toggle:checked ~ .overlay {
  display: block;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  width: 95%;
  max-width: 1200px;
}

/* SECCION HERO */
.hero {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1300px;
  padding: 10px;
  width: 95%;
  margin-top: 100px;
  padding-bottom: 50px;
  border-bottom: 2px solid #ffffff;
  border-radius: 10px;
}
.hero__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 560px;
  gap: 20px;
}
.hero__info__titulo {
  font-size: 65px;
  font-weight: 800;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__info__subtitulo {
  font-size: 55px;
  font-weight: 700;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__info__parrafo {
  font-size: 20px;
  font-weight: 200;
  text-align: justify;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__img {
  width: 400px;
  border-radius: 150px;
}

/* SECCION BENEFICIOS */
.beneficios {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1300px;
  padding: 10px;
  width: 95%;
  padding-bottom: 50px;
  border-bottom: 2px solid #ffffff;
  border-radius: 10px;
  gap: 20px;
}

.beneficios__titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 55px;
  font-weight: 700;
}

.beneficios__parrafo {
  font-size: 20px;
  font-weight: 200;
  text-align: justify;
}

.beneficios__contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.beneficios__contenedor__card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-radius: 10px;
  width: 100%;
  height: 95px;
  gap: 10px;
}
.card__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 0px 10px;
}
.card__info__img {
  border-radius: 1rem;
  width: 50px;
  height: 50px;
}

.card__info__titulo {
  font-size: 25px;
  font-weight: 600;
}

.card__parrafo {
  font-size: 16px;
  font-weight: 200;
  text-align: justify;
  padding: 0px 10px;
  width: 80%;
}

/* SECCION PRODUCTOS */
.productos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1300px;
  padding: 10px;
  width: 95%;
  padding-bottom: 50px;
  border-bottom: 2px solid #ffffff;
  border-radius: 10px;
  gap: 20px;
}

.productos__titulos {
  font-size: 55px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.productos__contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.productos__contenedor__tarjeta {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border: 2px solid #ffffff;
  padding: 10px;
  border-radius: 10px;
  width: 250px;
}
.tarjeta__img {
  width: 150px;
  height: 200px;
  border: 2px solid #ffffff;
  border-radius: 10px;
}
.tarjeta__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 230px;
  border-radius: 10px;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23171718' fill-opacity='0.21'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.tarjeta__info__titulos {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.tarjeta__info__tallas {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.tallas {
  font-size: 18px;
  font-weight: 300;
}
.tallas__numeros {
  font-size: 16px;
  font-weight: 200;
  padding: 5px 5px;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid #ffffff;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23171718' fill-opacity='0.21'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.tarjeta__info__precios {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.precios__titulos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  font-weight: 300;
}

.precios__numeros {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: 200;
  background: #090909;
  padding: 5px 10px;
  border-radius: 15px;
  border: 2px solid #ffffff;
  width: 60px;
  height: 30px;
}
.tarjeta__info__comprar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 300;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 3px;
  cursor: pointer;
  border: 2px solid #ffffff;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23171718' fill-opacity='0.21'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* SECCION CONTACTO */
.contacto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1300px;
  padding: 10px;
  width: 95%;
  padding-bottom: 50px;
  border-bottom: 2px solid #ffffff;
  border-radius: 10px;
  gap: 20px;
}
.contacto__titulo {
  font-size: 55px;
  font-weight: 700;
}

.contacto__contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.contacto__contenedor__formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-radius: 10px;
  padding: 10px;
  width: 270px;
  height: 385px;
}

.formulario__titulo {
  display: flex;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}
.formulario__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.formulario__info__titulos {
  font-size: 18px;
  font-weight: 300;
}

.formulario__info__cajon {
  font-size: 16px;
  font-weight: 200;
  background: #090909;
  padding: 7px 18px;
  border-radius: 30px;
  border: 2px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.formulario__info__boton {
  font-size: 18px;
  font-weight: 300;
  padding: 5px 10px;
  border-radius: 30px;
  cursor: pointer;
  border: 2px solid #ffffff;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23171718' fill-opacity='0.21'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.formulario__parrafo {
  font-size: 15px;
  font-weight: 200;
  text-align: center;
}

.contacto__contenedor__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  width: 270px;
  height: 200px;
  border-bottom: 2px solid #ffffff;
}

.info__datos {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 15px;
  width: 250px;
  padding: 10px;
}
.info__datos__contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.contenedor__img {
  width: 30px;
  height: 30px;
}

.contenedor__info {
  font-size: 18px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.info__redes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 250px;
}

.info__redes__contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}

.contenedor__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.contenedor__link__img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.contacto__contenedor__iframe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-radius: 10px;
  padding: 10px;
  width: 270px;
  height: 385px;
}

.iframe {
  border-radius: 10px;
  width: 240px;
  height: 280px;
}
.iframe__parrafo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  width: 90%;
  padding-bottom: 10px;
  border-bottom: 2px solid #ffffff;
  border-radius: 10px;
  padding-top: 5px;
  margin-bottom: 10px;
}

.footer__contenedor {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 95%;
}

.footer__contenedor__info {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.info__titulo {
  font-size: 18px;
  font-weight: 400;
}

.info__img {
  width: 50px;
}

.footer__contenedor__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}

.link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  border-radius: 5px;
  padding: 2px;
}

/* Estilos de nav de INICIO SESION, REGISTRASE Y CAR */
.navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navegacion__paginas {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos de formulario de inicio sesion y registrase */
.cuestionario {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1300px;
  padding: 10px;
  width: 290px;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-radius: 10px;
  gap: 30px;
  margin-top: 110px;
  margin-bottom: 20px;
}
.cuestionario__titulo {
  font-size: 35px;
  font-weight: 700;
}

.cuestionario__cajon {
  font-size: 18px;
  font-weight: 600;
  background: #090909;
  padding: 7px 18px;
  border-radius: 30px;
  border: 2px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 250px;
}

.cuestionario__enviar {
  font-size: 20px;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 30px;
  cursor: pointer;
  border: 2px solid #ffffff;
  text-decoration: none;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23171718' fill-opacity='0.21'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* ESTILOS DE PAGINA CAR */
.carrito {
  background-color: #090909;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23171718' fill-opacity='0.21'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 1300px;
  padding: 10px;
  width: 600px;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  margin-top: 110px;
  margin-bottom: 10px;
}

.carrito__titulo {
  font-size: 25px;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.carrito__contenedor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  flex-wrap: wrap;
}

.carrito__contenedor__superior {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  width: 160px;
}

.superior__img {
  height: 65px;
  width: 65px;
  border-radius: 10px;
  border: 2px solid #ffffff;
}

.superior__titulo {
  font-weight: 500;
  font-size: 20px;
}

.carrito__contenedor__medio {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 5px;
  width: 80px;
}

.medio__titulo {
  font-weight: 300;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.medio__monto {
  background: #000000;
  padding: 5px;
  font-size: 16px;
  font-weight: 800;
  border: 2px solid #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrito__contenedor__inferior {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 15px;
  width: 110px;
}

.inferior__signos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  font-weight: 600;
  font-size: 14px;
  background-color: #090909;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23171718' fill-opacity='0.21'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  cursor: pointer;
  width: 22px;
}
.inferior__cantidad {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  font-weight: 200;
  font-size: 16px;
}
.carrito__division {
  border: 0.5px solid #ffffff;
  margin-top: 5px;
  margin-bottom: 5px;
}

.carrito__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
}
.carrito__total__titulo {
  font-weight: 700;
}
.carrito__total__productos {
  font-weight: 400;
  font-size: 18px;
}
.carrito__total__monto {
  background: #090909;
  padding: 5px 10px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 800;
}
.carrito__boton {
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23171718' fill-opacity='0.21'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* ANIMACIONES */
.lista__link,
.tallas__numeros,
.tarjeta__info__comprar,
.formulario__info__boton,
.cuestionario__enviar,
.inferior__signos,
.carrito__boton {
  transition: all 0.2s ease-in;
}
.lista__link:hover,
.tallas__numeros:hover,
.tarjeta__info__comprar:hover,
.formulario__info__boton:hover,
.cuestionario__enviar:hover,
.inferior__signos:hover,
.carrito__boton:hover {
  cursor: pointer;
  background-color: #ffffff;
  transition: all 0.2s ease-out;
  color: #000000;
}
.icono,
.contenedor__link__img,
.logo,
.link {
  transition: all 0.2s ease-in;
}

.icono:hover,
.contenedor__link__img:hover,
.logo:hover,
.link:hover {
  cursor: pointer;
  background-color: #0e4e5b;
  transition: all 0.2s ease-out;
}

.overlay {
  position: absolute;
  top: 98px;
  left: 0;
  height: 90vh;
  width: 100%;
  z-index: 1;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(233, 233, 238, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: none;
}
